    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Металлоконструкции ООО "Молния СПБ" на заказ.</title>
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>

        <nav class="nav">
            <div class="container">
                <div class="nav-row">
                    <a href="./index.html" class="logo">
                        <img src="images/logo.png" alt="Молния СПБ Logo" class="logo-image">
                        <div class="logo-text">
                            <strong>ООО "Молния СПБ"</strong>
                            <div class="subtitle">Разработка металлоконструкций под заказ</div>
                        </div>
                    </a>
                    <ul class="nav-list">
                        <li class="nav-list__item"><a href="./index.html" class="nav-list__link nav-list__link--active">Проекты</a></li>
                        <li class="nav-list__item"><a href="./services.html" class="nav-list__link">Услуги</a></li>
                        <li class="nav-list__item"><a href="./contacts.html" class="nav-list__link">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Блок О нас -->
        <section class="about">
            <div class="container">
                <h2 class="section-title">О нас</h2>
                <div class="about-grid">
                    <!-- Левая колонка -->
                    <div class="about-text">
                        <p><strong>ООО «МОЛНИЯ СПб»</strong> с 2003 г. производит металлоизделия и металлоконструкции разной степени сложности.</p>
                        <h3>Наши принципы</h3>
                        <p>
                            Главным принципом нашей работы является <strong>индивидуальный и гибкий подход</strong> к каждому клиенту, качественное и своевременное выполнение заказов, открытое ценообразование.
                        </p>
                        <p>
                            Мы с уважением относимся к нашим Заказчикам и одинаково ответственны при выполнении как особо крупного заказа, так и малого.
                        </p>
                        <h3>Почему выбирают нас</h3>
                        <p>
                            Профессиональный подбор сотрудников, надежное оборудование и контрольно-измерительный инструмент позволяют изготавливать широкий спектр изделий на основании ГОСТ и чертежей.
                        </p>
                        <blockquote class="about-quote">
                            «Каждое изделие сопровождается паспортом и сертификатом качества».
                        </blockquote>
                    </div>
                    <!-- Правая колонка -->
                    <div class="about-image-grid">
                        <img src="images/stairs.jpg" alt="Фото 1" class="grid-image">
                        <img src="images/metal4.jpg" alt="Фото 2" class="grid-image">
                        <img src="images/metal2.jpg" alt="Фото 3" class="grid-image">
                        <img src="images/metal3.jpg" alt="Фото 4" class="grid-image">
                    </div>
                </div>
                <div class="about-footer">
                    <p>
                        Мы всегда рады сотрудничеству и открыты для заключения новых долгосрочных контрактов. Обращаясь к нам, Вы делаете правильный выбор и найдете в нас достойного партнера.
                    </p>
                </div>
            </div>
        </section>

        <!-- Блок Услуги -->
        <!-- <section class="services">
            <div class="container">
                <h2 class="section-title">Наши услуги</h2>
                <div class="services-grid">

                    <div class="service-item">
                        <img src="images/service1.jpg" alt="Производство металлоконструкций" class="service-image">
                        <h3 class="service-title">Производство металлоконструкций</h3>
                        <p class="service-description">Изготовление надежных и качественных металлоконструкций под ваши нужды.</p>
                    </div>

                    <div class="service-item">
                        <img src="images/service2.jpg" alt="Монтаж металлоконструкций" class="service-image">
                        <h3 class="service-title">Монтаж металлоконструкций</h3>
                        <p class="service-description">Профессиональный монтаж конструкций любой сложности.</p>
                    </div>


                    <div class="service-item">
                        <img src="images/service3.jpg" alt="Проектирование" class="service-image">
                        <h3 class="service-title">Проектирование</h3>
                        <p class="service-description">Разработка индивидуальных проектов для ваших задач.</p>
                    </div>
                </div>
            </div>
        </section> -->


    </body>
</html>